# Lines starting with '#' are considered comments.

bower_components/**
node_modules/**

# mock
components/cards/**

sqlUpdate/**

# чужие и старые файлы
additional/**

# релиз файлы
release/**
tmp/**
download/**

# config
/config/dbParams.php

# sass файлы
.sass-cache/**
views/css/*.css
views/css/*.map
css/*.map
distrib/**
old/**
